<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/3d48e49b2f.js" crossorigin="anonymous"></script>

</head>

<body>

  <header>

    <h1>Mercado Liebre</h1>
    <div class="top-header">
      <div class="logo">
        <a href="/" tabindex="-1"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
      </div>
      <form action="#" method="get" class="form">
        <input type="search" placeholder="Buscar" tabindex="1">
        <i class="fa fa-search"></i>

      </form>
      <p class="header-text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

    </div>
    <nav class="container-nav">
      <ul class="menu-left">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="menu-right">
        <li><a href="/register">Crea tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
        <li><a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
        <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
      </ul>



    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>

  </header>

  <img src="/images/img-home-banner.jpg" alt="banner">

  <main>

    <section>
      <h2>Basado en tu última visita</h2>
      <div class="container-article">

        <article>

          <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
          <div class="container">
            <i class="fa-solid fa-truck"></i>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
          </div>

        </article>

        <article>

          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro" />
          <div class="container">
            <i class="fa-solid fa-truck"></i>
            <p class="precios">$230.000</p>
            <p class="descuentos">20%off</p>
            <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
          </div>

        </article>

        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <div class="container">
            <i class="fa-solid fa-truck"></i>
            <p class="precios">$70.500</p>
            <p class="descuentos">10%off</p>
            <p class="descripciones"><strong>Galaxy S10</strong></p>
          </div>

        </article>


        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <div class="container">
            <i class="fa-solid fa-truck"></i>
            <p class="precios">$23.200</p>
            <p class="descuentos">5%off</p>
            <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
          </div>
        </article>
      </div>

    </section>
    
    <section>
      <h2>Sección de Ofertas</h2>
      <div class="container-article">
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
          <div class="container">
            <i class="fa-solid fa-truck"></i>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
          </div>
        </article>


        <article>

          <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro" />
          <div class="container">
            <i class="fa-solid fa-truck"></i>
            <p class="precios">$230.000</p>
            <p class="descuentos">20%off</p>
            <p class="descripciones"><strong>MacBook Pro 2019</strong></p>
          </div>

        </article>

        <article>

          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <div class="container">
            <i class="fa-solid fa-truck"></i>
            <p class="precios">$70.500</p>
            <p class="descuentos">10%off</p>
            <p class="descripciones"><strong>Galaxy S10</strong></p>
          </div>

        </article>



        <article>

          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <div class="container">
            <i class="fa-solid fa-truck"></i>
            <p class="precios">$23.200</p>
            <p class="descuentos">5%off</p>
            <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
          </div>

        </article>

      </div>

    </section>
   
  </main>

  <footer>
    <div class="contenedor-footer">

      <section>

        <i class="fa-solid fa-credit-card"></i>
        <h2>Paga con tarjeta o en efectivo</h2>
        <p>
          Con mercadoliebreCash tenes cuotas sin interés con tarjeta o efectivo
          en punto de pago. ¡y siempre es seguro!
        </p>

      </section>

      <section>

        <i class="fa-solid fa-gift"></i>
        <h2>Envío gratis desde $2.500</h2>
        <p>
          Solo por estar registrado en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos
        </p>
      </section>
      <section>
        <i class="fa-solid fa-user-shield"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas
          hacer porque estas siempre protegid@.
        </p>

      </section>

    </div>

    <p>Copyright &copy; 1999-2022 MercadoLiebre S.R.L.</p>
  </footer>
 

</body>

</html>