<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mercado Liebre</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/register.css">
  <script src="https://kit.fontawesome.com/3d48e49b2f.js" crossorigin="anonymous"></script>

</head>

<body>

  <header>

    <h1>Mercado Liebre</h1>
    <div class="top-header">
      <div class="logo">
        <a href="/" tabindex="-1">
          <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </a>
      </div>
      <form action="#" method="get" class="form">
        <input type="search" placeholder="Buscar" tabindex="1">
        <i class="fa fa-search"></i>
      </form>
      <p class="header-text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

    <nav class="container-nav">
      <ul class="menu-left">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="menu-right">
        <li><a href="/register">Crea tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
        <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
      </ul>

    </nav>

    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>

  </header>

  <img src="/images/img-home-banner.jpg" alt="banner">
  <main>
    <form action="/" method="post">
      
      <fieldset>
        <legend>Login</legend>
        <label for="nombre_de_usuario">Nombre de Usuario</label>
        <input type="text" placeholder="Nombre de usuario" required name="nombre_de_usuario" id="nombre_de_usuario"
          class="input-block" tabindex="2">
        <label for="password">Contraseña</label>
        <input type="password" id="password" required name="password" id="password" placeholder="Ingresa tu contraseña"
          class="input-block" tabindex="3">
        <input type="submit" class="form-button" value="Enviar" tabindex="4">
        <input type="reset" value="Limpiar" class="form-button">


      </fieldset>

    </form>
  </main>

  <footer>
    <div class="contenedor-footer">

      <section>
        <i class="fa-solid fa-credit-card"></i>
        <h2>Paga con tarjeta o en efectivo</h2>
        <p>
          Con mercadoliebreCash tenes cuotas sin interés con tarjeta o efectivo
          en punto de pago. ¡y siempre es seguro!
        </p>
      </section>

      <section>
        <i class="fa-solid fa-gift"></i>
        <h2>Envío gratis desde $2.500</h2>
        <p>
          Solo por estar registrado en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos
        </p>
      </section>

      <section>
        <i class="fa-solid fa-user-shield"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas
          hacer porque estas siempre protegid@.
        </p>
      </section>

    </div>

    <p>Copyright &copy; 1999-2022 MercadoLiebre S.R.L.</p>
  </footer>
  <!-- fin de footer -->